@import "header";
@import "banner";
@import "services";
@import "map";
@import "inquiry";
@import "footer";

$fontColor: #edf2f4;
$backgroundColor: #2b2d42;

html, body, #app {
  width: 100%;
  height: 100%;
  color: $fontColor;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

a {color: $fontColor !important; }      /* unvisited link */
a:visited {color: $fontColor !important; }  /* visited link */
a:hover {color: $fontColor !important; }  /* mouse over link */
a:active {color: $fontColor !important; }
