@import "header";
@import "banner";
@import "services";
@import "map";
@import "inquiry";
@import "footer";

$fontColor: #edf2f4;
$backgroundColor: #2b2d42;

html, body, #app {
  width: 100%;
  min-width: 720px;
  height: 100%;
  color: $fontColor;
  -webkit-overflow-scrolling: touch;
}

#app {
  overflow: scroll;
}

ul {
  list-style-type: none;
}

a {color: $fontColor !important; }      /* unvisited link */
a:visited {color: $fontColor !important; }  /* visited link */
a:hover {color: $fontColor !important; }  /* mouse over link */
a:active {color: $fontColor !important; }
